#include ".base16-xresources/xresources/base16-solarized-light.Xresources"

! Enable antialiasing and hinting
! https://wiki.archlinux.org/index.php/X_resources#Xft_resources
! Xft settings ---------------------------------------------------------------
!Xft.dpi:        96
*.antialias:  true
*.hinting:    true
*.autohint:   0
*.hintstyle:  hintslight
! http://www.lagom.nl/lcd-test/subpixel.php  to check
*.rgba:       rgb
*.lcdfilter:  lcddefault

! urxvt used for scratchpad have different windows class (scratchpad, URxvt) all
! other urxvt windows are (urxvt, URxvt). For some reason non-scratchpad version
! doesnt accept several parameters using URxvt or * name. So duplicate urxvt for
! several parameters.
! urxvt.font: xft:UbuntuMono:size=14
URxvt.font: xft:UbuntuMono:size=16
XTerm*faceName: UbuntuMono
XTerm*faceSize: 16
XTerm*metaSendsEscape: true
xterm*faceName: UbuntuMono
xterm*faceSize: 16
xterm*metaSendsEscape: true
! xterm*background:            base00
! xterm*foreground:            base05

XTerm.VT100.printAttributes: 2
XTerm.VT100.printerCommand: cat - > /tmp/xterm.print.$$

! urxvt.scrollBar: false
URxvt.scrollBar: false

! for some reason non-scratchpad urxvt doesnt read default settings listed
! below
! urxvt*background:            S_base03
! urxvt*foreground:            S_base00
! urxvt*fading:                40
! urxvt*fadeColor:             S_base03
! urxvt*cursorColor:           S_base1
! urxvt*pointerColorBackground:S_base01
! urxvt*pointerColorForeground:S_base1

! Enable Urxvt addons
!
! Inspired by http://funloop.org/post/2015-06-25-urxvt-plugins.html.
! Provides
! good user expierence if interactive shell is configured to copy killed text to
! clipboard
URxvt.perl-lib: /home/behemoth/.urxvt/ext
URxvt.perl-ext-common: default,keyboard-select,url-select,clipboard,font-size

!URxvt.keysym.M-Insert: perl:keyboard-select:activate
URxvt.keysym.C-space: perl:keyboard-select:activate
URxvt.keysym.M-r: perl:keyboard-select:search
URxvt.keysym.C-M-p: perl:url-select:select_next
URxvt.url-select.button: 1
! automacitally copy mouse selection
URxvt.clipboard.autocopy: true
URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.keysym.C-Insert: perl:clipboard:copy
URxvt.keysym.S-Insert: perl:clipboard:paste
URxvt.keysym.C-v: perl:clipboard:paste
URxvt.keysym.C-S-v: perl:clipboard:paste_escaped
! disable distracting messages on ctrl+shift
URxvt.iso14755: false
URxvt.iso14755_52: false

! `font-size` plugin
URxvt.keysym.C-minus: perl:font-size:decrease
URxvt.keysym.C-equal: perl:font-size:increase
URxvt.keysym.C-0:  font-size:reset
! URxvt.font-size.step: 4
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
! URxvt.keysym.C-S-Up:   font-size:incglobal
! URxvt.keysym.C-S-Down: font-size:decglobal
URxvt.keysym.C-9:  font-size:show

!----

emacs.background: base00
emacs.foreground: base05
emacs.menuBar: off
emacs.toolBar: off
emacs.verticalScrollBars: off
!Emacs.FontBackend: xft,x
!Emacs.font: xft:UbuntuMono-R
!Emacs.font: xft:Ubuntu Mono:pixelsize=23:foundry=DAMA:weight=normal:slant=normal:width=normal:spacing=100:scalable=true
